---
layout: default
---

<div class="blog-tag">
  <h1>Lista de etiquetas</h1>
  <div class="tags-full-list">
    {% for tag in site.tags %}
	  <a href="/menu/taglist#{{ tag[0] | slugify }}" class="simple-tag">
	    <i class="fa fa-tag" aria-hidden="true">{{ tag[0] }}</i>
	  </a>
    {% endfor %}
  </div>
  <div class="tags-postlist">
    {% for tag in site.tags %}
	  <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
      <ul>
        {% for post in tag[1] %}
          <li>
		    <a class="tag-post" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
		      <small class="post-date">{{ post.date | date_to_string }}</small>
		    </a>
		  </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
<div class="blog">
  <h1 class="blog-heading">{{page.entrada}}</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
