---
layout: default
---

<div class="blog-tag">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    <span class="site-tag">
	  <a href="/posts/#{{ tag | first | slugify }}" 
		style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
		{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
      </a>
    </span>
  {% endfor %}
</div>
<div class="blog">
  <h1 class="blog-heading">{{page.entrada}}</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <a href="{{ post.url | relative_url }}"><img src="/img/{{ post.title | replace:' ', '_' }}.jpg"></img></a>
      </li>
    {% endfor %}
  </ul>
</div>
